.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App_form{margin:100px;}
.App_form div {margin:10px;}
label{    
  min-width: 300px;
  text-align: left;
  padding: 1px; 
  display: flex;
  float: left;}

input, textarea, select{ 
  text-align: left;
  padding: 1px;  
}

input[type='text'], input[type='email'], input[type='number'], input[type='date'],input[type='checkbox'],textarea,select{
  min-width: 300px;
  display: flex;
  min-height:30px;
}

button{padding:5px 20px;}

.App-link {
  color: #61dafb;
}

.todolist ul{
  padding:0px;margin:0px auto;width:500px;
}

.todolist li{
  list-style: disc;padding:3px;margin:10px;text-align:left;background-color: #efefef;
  list-style-position: inside;
}

.displayErrors input:invalid {
  border-color: #f73772;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


article::before {
  content: attr(data-parent);
}
article[data-columns='3'] {
  width: 400px;
}
article[data-columns='4'] {
  width: 600px;
}