/* Home page Header */

#homeheader #homeheadertopnav { overflow: hidden; padding: 90px 10px; transition: 0.4s; position: fixed; width: 100%;
    top: 0; z-index: 99; background-color: #f1f1f1; }  
  #homeheader #homeheadertopnav a { float: left; text-align: center; padding: 12px; text-decoration: none; font-size: 18px; 
    line-height: 25px; border-radius: 4px; color: black; }  
  #homeheader #homeheadertopnav #logo { font-size: 35px; font-weight: bold; transition: 0.4s; }  
  #homeheader #homeheadertopnav a:hover { background-color: #ddd; color: black;}  
  #homeheader #homeheadertopnav a.active { background-color: dodgerblue; color: white; }  
  #homeheader #homeheadertopnav #navbar-right { float: right; }  
  @media screen and (max-width: 580px) {
    #homeheader #homeheadertopnav { padding: 20px 10px !important; }
    #homeheader #homeheadertopnav a { float: none;  display: block; text-align: left; }
    #homeheader #homeheadertopnav #navbar-right { float: none; }
  }

  /* homeheaderstickytopnav */
  #homeheader #homeheaderstickytopnav { overflow: hidden; background-color: #333; }  
  #homeheader #homeheaderstickytopnav a { float: left; display: block; text-align: center; padding: 14px 16px;
    text-decoration: none; font-size: 17px; color: #f2f2f2; }  
  #homeheader #homeheaderstickytopnav a:hover { background-color: #ddd; color: black; }  
  #homeheader #homeheaderstickytopnav a.active { background-color: #4CAF50; color: white; }  
  /* .content { padding: 16px; }   */
  #homeheader #homeheaderstickytopnav.sticky { position: fixed; top: 0; width: 100%;padding-top: 110px; } 
  /* #homeheader #homeheaderstickytopnav.sticky + .content { padding-top: 60px; } */
  #homeheader #homeheaderstickytopnav.sticky + .content { padding-top: 60px; }

/* Header Top Bar */
#header .w3-top a.logo{width: 160px;padding:10px;}
#header .w3-top a.w3-bar-item span{display:none;}
@media screen and (max-width: 600px) {     
    #header .w3-top a.logo { float: left; display: block; }    
    #header .w3-top a.icon { float: right; display: block; }    
    #header .w3-top a, #header .w3-top div.alert{ display: none; text-align: left; margin: 0; padding: 10px 14px; }  
    #header .w3-top .w3-dropdown-hover a{display:block;}
    #header .w3-top a.w3-bar-item span{display:inline;}
}  
@media screen and (max-width: 600px) {    
    #header .w3-top.responsive {position: fixed;}               
    #header .w3-top.responsive a:not(.fixedmenu){display:block;width:100%;
        float: none; display: block; text-align: left;}    
}

/* Left Side Nav Bar */
#leftmenubar {height: 100%; width: 160px; position: fixed; z-index: 1;left: 0;    
    overflow-x: hidden;}  
#leftmenubar #leftsidenav {padding-top:20px;height: 100%; }
#leftmenubar #leftsidenav a {padding: 6px 8px 6px 12px; text-decoration: none; display: block; }   
#leftmenubar #leftsidenav #menudropdown{width: 100%;text-align:left;}
@media screen and (max-height: 450px) {
    #leftmenubar #leftsidenav {padding-top: 15px;}  }
@media screen and (max-width: 768px) {    
    #leftmenubar {width:55px;}  
    #leftmenubar #leftsidenav a i{font-size:25px;}    
    #leftmenubar #leftsidenav a span{display:none;}    
}
/* Left Side Slide Bar */
#leftsideslidebar{width:auto;max-width:350px;}
#leftsideslidebar{padding:10px;}
#leftsideslidebar #leftsideovelay .closebtn, #rightsideslidebar #rightsideovelay .closebtn{
    position: absolute; top: 0; right: 25px; margin-left: 50px;font-size: 20px; cursor:pointer; overflow: hidden; }
#rightsideslidebar_closebtn{float:right;position: relative;}
#rightsideslidebar{width:350px;right:0;overflow-x: hidden;z-index: 1;width: 0;transition: 0.5s;}
#rightsideslidebar #rightsideovelay{ transition: 0.3s;padding:10px;}
#leftSidenavIcon #leftsideslidebar_closebtn{position: fixed;left: 140px;padding:10px 8px 10px 22px;top: 50%;}
#rightSidenavIcon #rightsideslidebar_closebtn{position: fixed;right: -20px;padding:10px 22px 10px 8px;top: 50%;}
#rightsideslidebar #rightpanelaccordion, #leftsideslidebar #leftsideovelay{padding-top:20px;} 
@media screen and (max-width: 600px) {     
    #leftsideslidebar, #rightsideslidebar{max-width:100%;}    
    #leftSidenavIcon #leftsideslidebar_closebtn{left: 35px;}
}

#main { margin-left: 160px;margin-top:46px; padding:0px;transition: margin-right .5s;}
@media screen and (max-width: 768px) {     
    #main{ margin-left: 55px;}    
}
/* Main Footer Nav bar */ 
#main ul.breadcrumb { padding: 10px 16px; list-style: none;margin:0px; }
#main ul.breadcrumb li { display: inline; }
#main ul.breadcrumb li+li:before {padding: 8px;content: "/\00a0"; }
#main ul.breadcrumb li a { text-decoration: none;}
#main ul.breadcrumb li a:hover { text-decoration: underline; }
#main #content{padding: 1px 10px 10px 10px;margin-bottom:50px;}
#main #content #profile, #main #content #profile .w3-container {padding:0px;}
#main #content #profile .w3-container .w3-col:not(.w3-round) {padding:10px;}
#main #maintab .maintabContainer{padding:20px;}
.w3-padding-left-adjust{padding-left:16px;}
@media screen and (max-width: 600px) { 
    #main #maintab .maintabContainer{padding:1px;}  
    #main .w3-bottom .w3-dropdown-hover a{display:block;} 
    .w3-padding-left-adjust{padding-left:0px;}
    #main #content #profile .w3-container .w3-col:not(.w3-round) {padding:1px;}    
}   
/* Left Nav user tree */
#leftsideslidebar #leftsideovelay #usertree{padding:10px; margin:0px;}
#leftsideslidebar #leftsideovelay * ul { list-style-type: none;}
#leftsideslidebar #leftsideovelay #usertree * ul{padding-left:20px;}
#leftsideslidebar #leftsideovelay #usertree * li { margin: 0; padding: 0; }
#leftsideslidebar #leftsideovelay #usertree .caret { cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}
#leftsideslidebar #leftsideovelay #usertree .caret::before {
    content: "\25B6";    
    display: inline-block;
    margin-right: 6px;
}
#leftsideslidebar #leftsideovelay #usertree .caret-down::before {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);  
}
#leftsideslidebar #leftsideovelay #usertree .nested { display: none; }
#leftsideslidebar #leftsideovelay #usertree .active { display: block;  }

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px; 
    text-align: center;
    padding: 16px;
    position: fixed;
    z-index: 1;
    right: 5%;
    top: 50px; 
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {top: 0; opacity: 0;} 
    to {top: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {top: 30px; opacity: 1;} 
    to {top: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
  }

  /* Dashboard */
  #main .filterDiv{display: none;}
/* Auto Complete */
/*the container must be positioned relative:*/
  .autocomplete {
    position: relative;
  }
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    /* border-bottom: none; */
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    max-height: 200px;
    overflow: auto;
  }
  .autocomplete-items div:first-child {border-top: 1px solid #d4d4d4; }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fafafa;
    border-bottom: 2px solid #ffffff; 
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9; 
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }